<h3><a href='/category/<%= @category[:id] %>/edit'><%= @category[:name] %></a></h3>

<table>
  <tr>
    <td>
      <h4>Assigned amount: $<%= @category[:assigned_amount] %></h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Remaining to spend: $<%= @category[:amount_remaining] %></h4>
    </td>
  </tr>
</table>

<h3>Transactions:</h3>

<table>
  <thead>
    <tr>
      <th><h4>Memo</h4></th>
      <th><h4>Amount</h4></th>
      <th><h4>Date</h4></th>
    </tr>
  </thead>
  <tbody>
    <% if @transactions.empty? %>
      <p>No transactions to show!</p>
    <% end %>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction[:memo] %></td>
        <td>$<%= transaction[:amount]%></td>
        <td><%= transaction[:date] %></td>
        <td><a href='/transaction/<%= transaction[:id] %>/edit'>Edit</a></td>
      </tr>
    <% end %>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= 'TODO' %></strong></td>
    </tr>
  </tbody>
</table>

<a href='/budget'>Return to Budget</a>