<h3><%= @category.name %></h3>

<table>
  <tr>
    <td>
      <h4>Assigned amount: $<%= @category.assigned_amount_formatted %></h4>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Remaining to spend: $<%= @category.amount_remaining_formatted %></h4>
    </td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th><h4>Memo</h4></th>
      <th><h4>Amount</h4></th>
      <th><h4>Date</h4></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.memo %></td>
        <td>$<%= transaction.amount%></td>
        <td><%= transaction.date %></td>
        <td><button>Edit</button></td>
      </tr>
    <% end %>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= sum(@transactions)%></strong></td>
    </tr>
  </tbody>
</table>

<a href='/budget'>Return to Overview</a>