<h3>To be assigned: <%= format_currency(@storage.to_be_assigned) %></h3>

<table>
  <thead>
    <tr>
      <th><h4>Category</h4></th>
      <th><h4>Assigned</h4></th>
      <th><h4>Remaining</h4></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <% next if category[:name] == 'Inflow'%>
      <tr>
        <td><a href="/category/<%= category[:id] %>"><%= category[:name] %></a></td>
        <td><%= format_currency(category[:assigned_amount])%></td>
        <td><%= format_currency(category[:amount_remaining]) %></td>
        <td>
          <form action='/category/<%= category[:id] %>/new_allocation' method='post'>
            <% if params[:id].to_i == category[:id] %>
              <input name='new_assigned_amount' placeholder='Enter New Amount' type='text' value='<%= params[:new_assigned_amount] %>' required>
            <% else %>
                <input name='new_assigned_amount' placeholder='Enter New Amount' type='text' required>
            <% end %>
            <input type='submit' value='Reassign'>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% if @page > 1 %>
    <a href='?page=<%= @page - 1%>'>Previous Page</a>
  <% else %>
    Previous Page
  <% end %>
  <% if @page < @max_page %>
    <a href='?page=<%= @page + 1 %>'>Next Page</a>
  <% else %>
    Next Page
  <% end %>
<p>

<h3>Accounts</h3>

<table>
  <thead>
    <tr>
      <td><h4>Acccount</h4></td>
      <td><h4>Balance</h4></td>
    </tr>
  </thead>
    <% @accounts.each do |account| %>
      <tr>
        <td><a href='/account/<%= account[:id]%>'><%= account[:name] %></td>
        <td><%= format_currency(account[:balance]) %></td>
      </tr>
    <% end %>
</table>

<h4><a href='/transaction/new'>Add New Transaction</h4>
<h4><a href='/category/new'>Add New Category</h4>
<h4><a href='/account/new'>Create New Account</h4>