<h3>To be assigned: <%= to_be_assigned %></h3>

<table>
  <thead>
    <tr>
      <th><h4>Category</h4></th>
      <th><h4>Allocated</h4></th>
      <th><h4>Remaining</h4></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><a href="/category/<%= category.id %>"><%= category.name %></a></td>
        <td><%= category.assigned_amount%></td>
        <td><%= category.amount_remaining %></td>
        <td>
          <form action='/category/<%= category.id %>/new_allocation' method='post'>
            <input name='new_assigned_amount' placeholder='Enter New Amount' type='text' value='<%= params[:new_assigned_amount] %>'>
            <input type='submit' value='Reassign'>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Accounts</h3>

<table>
  <thead>
    <tr>
      <td><h4>Acccount</h4></td>
      <td><h4>Balance</h4></td>
    </tr>
  </thead>
    <% @accounts.each do |account| %>
      <tr>
        <td><a href='/account/<%= account.id%>'><%= account.name %></td>
        <td><%= account.balance %></td>
      </tr>
    <% end %>
</table>

<h4><a href='/category/new'>Add New Category</h4>
<h4><a href='/account/new'>Create New Account</h4>