<h3>To be assigned: <%= to_be_assigned %></h3>

<table>
  <thead>
    <tr>
      <th><h4>Category</h4></th>
      <th><h4>Allocated</h4></th>
      <th><h4>Remaining</h4></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><a href="/category/<%= category.id %>"><%= category.name %></a></td>
        <td><%= category.assigned_amount%></td>
        <td><%= category.amount_remaining %></td>
        <td>
          <form action='/category/<%= category.id %>/new_allocation' method='post'>
            <input name='new_assigned_amount' placeholder='Enter New Amount' type='text' value='<%= params[:new_assigned_amount] %>'>
            <input type='submit' value='Reassign'>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3><a href='/category/new'>Add New Category</h3>