<body>
  <form action='/transaction/new' method='post'>
      <label for="amount">Amount:</label>
      <input type="text" name="amount" placeholder='0.00' required />

      <label for="memo">Memo:</label>
      <input type="text" name="memo" placeholder='memo'/>

      <label for="category">Category:</label>
      <select name="category_id">
          <option value='1'>Inflow</option>
        <% @categories.each do |category| %>
          <option value='<%= category.id %>'><%= category.name %></option>
        <% end %>
      </select>

      <label for="account">Account:</label>
      <select name="account_id">
        <% @accounts.each do |account| %>
          <option value='<%= account.id %>'><%= account.name %></option>
        <% end %>
      </select>

      <label for="date">Date:</label>
      <input type="date" name="date" value='<%= Date.today.to_s %>' max='<%= Date.today.to_s %>'required>

    <input type="submit" value="Submit" />
  </form>
</body>