<body>
  <form action='/transaction/new' method='post'>
      <label for="amount">Amount:</label>
      <input type="text" name="amount" placeholder='0.00' value='<%= params["amount"] %>' required />

      <label for="memo">Memo:</label>
      <input type="text" name="memo" placeholder='memo' value='<%= params["memo"] %>' />

      <label for="category">Category:</label>
      <select name="category_id">
        <% @categories.each do |category| %>
          <% if category[:id] == params['category_id'] %>
            <option value='<%= category[:id] %>' selected><%= category[:id] %></option>
          <% else %>
            <option value='<%= category[:id] %>'><%= category[:id] %></option>
          <% end %>
        <% end %>
      </select>

      <label for="account">Account:</label>
      <select name="account_id">
        <% @accounts.each do |account| %>
          <% if account[:id] == params['account_id'] %>
            <option value='<%= account[:id] %>' selected><%= account[:id] %></option>
          <% else %>
            <option value='<%= account[:id] %>'><%= account[:id] %></option>
          <% end %>
        <% end %>
      </select>

      <label for="date">Date:</label>
      <input type="date" name="date" value='<%= params['date'] || Date.today.to_s %>' max='<%= Date.today.to_s %>'required>

    <input type="submit" value="Submit" />
    <a href='/budget'>Cancel</a>
  </form>
</body>